{% extends 'base.html.twig' %}

{% block title %}Hello Jade!{% endblock %}

{% block body %}


<div class="jumbotron text-center">
    <h1>Mes Petites Histoires du soir  </h1>
    <p> Des contes et histoires pour les petits le soir <3 </p>

</div>

<div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Auteur</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td><a>La princesse et la grenouille</td>
          <td>Admin</td>
          <td>...</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Le petit flocon</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Un titre d'histoire</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
</div>

{% endblock %}
